<template>
  <div class="filter">
    <div class="block-white">
      <h1 class="title-filter">Rechercher une annonce</h1>
      <p class="text-filter">Vos annonces sont classées par potentiel de vente.</p>
      <div class="block-inputs">
        <button @click="toggleModal()" class="btn-select">
          {{ resultatSelectionne }} <i class="fas fa-sort-down icon-select"></i>
        </button>
        <div v-if="modalSearch" class="modal-search">
          <input @input="searchResultat" v-model="resSearch" class="input-search" type="text" placeholder="Rechercher..."/>
          <div class="result-search">
            <a class="resultat" v-on:click="objectSelect(resultat)"
                    v-for="resultat in resultats" v-bind:key="resultat">{{resultat}}</a>
          </div>
          <div v-if="resultats.length === 0 && resSearch.length > 1" class="error-result-search">
            <span>Aucun résultat n'a été trouvé</span>
          </div>
        </div>

        <div class="div-input-campagne">
          <i class="fas fa-search icon-search"></i>
          <input class="input-campagne" placeholder="Rechercher par campagne ou annonce" type="text"/>
        </div>

        <button class="btn-appliquer">Appliquer toutes les recommandations (6)</button>
      </div>
    </div>
  </div>

</template>

<script>
import axios from "axios";

export default {
  name: 'HelloWorld',
  data() {
    return {
      resultatSelectionne: 'Sélectionner un annonceur',
      modalSearch: false,
      resultats: [],
      resSearch: ''
    }
  },
  methods: {
    toggleModal: function () {
      this.modalSearch = this.modalSearch === false;
    },
    objectSelect: function (resultat) {
      this.resultatSelectionne = resultat
      this.modalSearch = false
    },
    searchResultat: function () {
      axios
          .get('https://api.rocketfid.com/cds/kjIU8897j87jhjbn/' + this.resSearch + '/', {headers: {'X-Instance': 'cdiscountpentest', 'content-type': 'json_pp'}})
          .then(response => {
            (this.resultats = response.data)
          })
    }
  }
}
</script>

<style scoped>
.block-white {
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
.title-filter {
  font-size: 20px;
}
.text-filter {
  font-size: 14px;
}

.btn-select {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  height: 37px;
  width: 285px;
}
.btn-select:hover {
  background-color: #F4F4F4;
}
.icon-select {
  margin-left: 10px;
}

.modal-search {
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 40px;
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 283px;
}
.input-search {
  padding: 0.5rem 1rem;
  border: none;
  width: 251px;
}
.input-search:focus {
  border: none;
}
.resultat {
  padding: 0.5rem 1rem;
  display: block;
  font-size: 17px;
}
.resultat:hover {
  background-color: #F4F4F4;
}
.resultat:first-child {
  border-top: 1px solid lightgray;
}

.error-result-search {
  padding: 1rem;
  text-align: center;
  color: #dc3545;
  font-size: 14px;
  border-top: 1px solid lightgray;
}

.block-inputs {
  display: flex;
}

.div-input-campagne {
  display: flex;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 0 1rem;
  height: 35px;
  width: 300px;
}
.input-campagne {
  border: none;
  width: 100%;
}
input {
  outline:  none;
}
.icon-search {
  margin: auto 5px auto 0;
}

.btn-appliquer {
  margin-left: auto;
  transition: 0.4s;
  color: #3ab7a9;
  background-color: white;
  border: 1.5px solid #3ab7a9;
  border-radius: 50px;
  padding: 0.2rem 1rem;
  height: 37px;
}

.btn-appliquer:hover {
  transition: 0.4s;
  color: white;
  background-color: #3ab7a9;
}

@media screen and (max-width: 1010px) {
  .block-inputs {
    display: block;
  }

  .modal-search {
    margin-top: 5px;
  }

  .div-input-campagne {
    margin: 1.5rem 0;
    max-width: 266px;
  }
}


@media screen and (max-width: 377px) {
  .btn-appliquer {
    padding: 0.2rem 1rem;
    height: 50px;
  }
}
</style>
